:root {
  --primary: #141414;
  --light: #F3F3F3;
  --dark: 	#686868;
}

.body{
    font-family: Verdana, sans-serif;
}

.description-header{
    color: rgb(229, 9, 20);
    padding-top: 5px;
}

.description-label{
    color: rgb(229, 9, 20);
    font-weight: bold;
}

.back-to-overview{
    margin: 3px;
}

.search_header{
    align-items: center;
    width: 100%;
    font-size: 14pt;
}

.search_header button{
    font-size: 14pt;
    margin-bottom: 2px;
}

.header{
    display: inline-flex;
    width: 100%;
    height: 400px;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
}

.header h1{
    padding-top: 5px;
}

.movie_poster{
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 10px 10px var(--primary) inset, -10px -10px 10px 10px var(--primary) inset;
}

.movie_poster_label{
    color: white;
}

.movie_details {
    left: 16px;
    padding-right: 20px;
}


.poster {
  transition: transform .3s;
}

.movie_poster:hover .poster{
  transition: transform .3s;
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

.movie_poster:hover a{
    display: block !important;
    z-index: 2;
    position: absolute;
}

.poster img {
  border-radius: 2px;
}

