<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Find Reference Movie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/netflix-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>


<section class="main-container" >

     <div class="search_header">
        <!-- todo put instruction and search bar in the header -->
         <div style="border: 1px solid #E50914; text-align: center; padding: 20px;">
             Please search for a movie you want to use as reference.
         </div>
         <div style="text-align: center; padding: 20px; color: #141414">
            <form class="form-inline md-form mr-auto mb-4" action="/welcome/" method="post">
                <i class="fas fa-search" aria-hidden="true" style="color: #F3F3F3"></i>
               {% csrf_token %}
                {{ input_form }}
               <button class="btn btn-rounded btn-sm my-0" style="width: 10%;" type="submit">Search</button>
            </form>
         </div>
     </div>

      <div class="location" id="home">
       {% if movies|length > 0 %}
           <h1 id="home">Please select a movie</h1>
           <div class="box">
               {% for movieId, details in movies.items %}
                   <div class="movie_poster">
                        <div class="poster" style="z-index: 1;"><img src="{{ details.poster_path }}" alt="Poster not available"></div>
                        <a class="hoover_btn btn btn-success" style="display: none" href="{% url 'recommendaitions' movieId  %}">Choose movie</a>
                      <!--- todo on hoover show button that on click sends the movie id to the next view -->
                   </div>
               {% endfor %}
          </div>
      {% endif %}
      </div>
</section>
</body>
</html>