<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Recommendation</title>
    <style>
.w3-third w3-container w3-margin-bottom{
height: 20%;
width: 134%

}

    </style>
</head>
<body>
<h1>Recommendations:</h1>
{% for movieId, details in recommendations %}
<div style="width:420px; height:1700px;" class="w3-third w3-container w3-margin-bottom">
    <h2>{{ details.title }}</h2>
    <img src="{{ details.posterPath }}" alt="Poster not available" style="width:100%" class="w3-hover-opacity">
<div class="w3-container w3-white">
<p style="font-style: italic;" class="release">Released: {{ details.releaseDate }}</p>
        <h4><b>Genre:</b></h4>
        <ul style=" font: italic small-caps  20px/30px Georgia, serif;">
            {% for genre in details.genres %}
               {{genre}},
            {% endfor %}
        </ul>
    <h4><b>Synopsis: </b></h4>
    <p style="height:auto;">
            {{ details.synopsis }}
        </p>
    <h4><b>Actors:</b></h4>
        <ul style="height:auto;">
            {% for actor in details.actors %}
                {{actor}},
            {% endfor %}
        </ul>
</div>
</div>

{% endfor %}
</body>
</html>
