<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Similar Movies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/netflix-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="back-to-overview">
    <a href="{% url "welcome" %}">
        <span class="description-label">Back to movie selection</span>
    </a>
</div>
<section class="main-container" >
     <div class="header">
         {% for key, details in reference_movie %}
            <div class="movie_details">
                <h1 class="description-header">Your reference movie:</h1>
                <h1>{{ details.title }} ({{ details.releaseYear }})</h1>
                <p> {{ details.plotSummary }}</p>
                <label class="description-label">Starring:</label>
                {{ details.actors }}
                <br>
                <label class="description-label">Directed by:</label>
                {{ details.directors }}
                <br>
                <label class="description-label">Genre:</label>
                {{ details.genres }}
                <br>
            </div>
            <div class="movie_poster" style="background-image: url('{{ details.poster_path }}')"></div>
         {% endfor %}
     </div>
      <div class="location" id="home">
            <h1 class="description-header">Similar movies</h1>
           {% for method_name, similar_movies in similar_movies_dicts %}
               <h2 id="home">{{ method_name }}</h2>
               <div class="box">
                  {% if similar_movies|length > 0 %}
                      {% for movieId, details in similar_movies %}
                          <a href="{% url 'recommendations' movieId  %}">
                            {% if details.poster_path == None %}
                                <img src="{% static 'images/poster_empty.jpg' %}" alt="Poster not available">
                            {% else%}
                                <img src="{{ details.poster_path }}" alt="Poster not available">
                            {% endif %}
                          </a>
                      {% endfor %}

                  {% else%}
                      <h2>This method didn't work for this movie</h2>
                  {% endif %}
              </div>
           {% endfor %}
      </div>
</section>

</body>
</html>