<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Similar Movies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/netflix-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<section class="main-container" >
      <!-- todo add reference movie here -->
     <div class="header">
         {% for key, details in reference_movie %}
            <div class="movie_details">
                <h4>Similar Movies for: </h4>
                <h1>{{ details.title }}</h1>
                <p> {{ details.plotSummary }}</p>
            </div>
             <div class="movie_poster" style="background-image: url('{{ details.poster_path }}')"></div>


         {% endfor %}
     </div>

      <div class="location" id="home">
           {% for method_name, similar_movies in similar_movies_dicts %}
               <h1 id="home">{{ method_name }}</h1>
               <div class="box">
                  {% if similar_movies|length > 0 %}
                      {% for movieId, details in similar_movies %}
                          <a href=""><img src="{{ details.poster_path }}" alt="Poster not available"></a>
                      {% endfor %}

                  {% else%}
                      <h2>This method didn't work for this movie</h2>
                  {% endif %}
              </div>
           {% endfor %}
          <!-- todo Add other methods here -->

      </div>
</section>

</body>
</html>